---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import lowcode from "@images/lowcode.png";
import mvp from "@images/mvp.png";
import devops from "@images/devops-monitor.png";
// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"services">[] = (
  await getCollection("services", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"services">, b: CollectionEntry<"services">) =>
    a.data.main.id - b.data.main.id
);

// Define variables for page content
const title: string = "Servicios";
const subTitle: string =
  "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts. Each of our products is crafted with precision and built to last, ensuring you have the right tool for every job.";

// Testimonial data that will be rendered in the component
const testimonials = [];

const pageTitle: string = `Products | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | ScrewFast",
    description:
      "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8 lg:pb-14 2xl:max-w-full"
  >
    <!-- <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="font-header text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
    </div> -->
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <!-- <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section> -->
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Nuestros servicios"
    subTitle="Ofrecemos soluciones digitales innovadoras, diseñadas para maximizar el impacto y adaptarse a las necesidades de tu negocio."
    benefits={[
      "Más de 20 años de experiencia en desarrollo y tecnología, aplicados para entregar resultados excepcionales.",
      "Uso de inteligencia artificial y tecnologías de vanguardia para optimizar procesos y potenciar tus proyectos.",
      "Enfoque empático y personalizado para comprender y resolver los desafíos específicos de tu negocio.",
    ]}
  />
  <ClientsSection
    title="Confían en nosotros"
    subTitle=`Grandes empresas y pequeños emprendimientos han confiado en nuestra expertise.`
  />
  <FeaturesNavs
    title=`Podemos guiarte a través del proceso de creación de una <span class="text-yellow-500 dark:text-yellow-400">solución digital</span> que cumpla con las expectativas de tu negocio.`
    tabs={[
      {
        heading: "Low Code / No Code",
        content:
          "Construye e integra aplicaciones con un mínimo de codificación, permitiendo a tu equipo crear soluciones de forma más rápida y eficiente.",
        svg: "lowcode",
        src: lowcode,
        alt: "Low Code / No Code",
        first: true,
        link: "/services/low-code-no-code",
      },
      {
        heading: "DevOps",
        content:
          "Aprovecha el poder de la automatización y la colaboración para optimizar tu proceso de desarrollo y entregar software de alta calidad.",
        svg: "nas",
        src: devops,
        alt: "DevOps",
        second: true,
        link: "/services/devops",
      },
      {
        heading: "Productos Mínimos Viables",
        content:
          "Lanza tu producto de forma rápida y rentable, validando hipótesis acotadas y mejorando continuamente en base a la retroalimentación de tus usuarios.",
        svg: "rocket",
        src: mvp,
        alt: "Productos Mínimos Viables",
        link: "/services/mvp",
      },
    ]}
  />
  <ContactSection />
  <!--Testimonials section-->
  <!-- <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  /> -->
</MainLayout>
