---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
import SHA256 from "crypto-js/sha256";

const gravatarUrl = (email: string, size: number = 80) => {
  const trimmedEmail = email.trim().toLowerCase();
  const hash = SHA256(trimmedEmail).toString();
  return `https://www.gravatar.com/avatar/${hash}?s=${size}&d=identicon`;
};
---

<div class="flex-shrink-0">
  <!-- <Image
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src={blogEntry.data.authorImage}
    alt={blogEntry.data.authorImageAlt}
    draggable={"false"}
    format={"avif"}
  /> -->
  <img
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src={gravatarUrl(blogEntry.data.authorEmail ?? "", 46)}
    alt={blogEntry.data.authorImageAlt}
  />
</div>
