---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
import crypto from "crypto";

const gravatarUrl = (email: string, size: number = 80) => {
  const trimmedEmail = email.trim().toLowerCase();
  const hash = crypto.createHash("sha256").update(trimmedEmail).digest("hex");
  return `https://www.gravatar.com/avatar/${hash}?s=${size}&d=identicon`;
};
---

<div class="flex-shrink-0">
  <!-- <Image
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={gravatarUrlblogEntry.data.authorImage}
    alt={blogEntry.data.authorImageAlt}
    draggable={"false"}
    format={"avif"}
  /> -->
  <img
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={gravatarUrl(blogEntry.data.authorEmail ?? "", 46)}
    alt={blogEntry.data.authorImageAlt}
  />
</div>
