---
// Import the Image component from astro:assets
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
// Destructure the component properties from Astro.props
const { id, aria, src, alt, first, second, link, svg } = Astro.props;
const baseClasses =
  "group inline-flex items-center justify-center gap-x-3 rounded-full px-4 py-3 text-center text-sm font-medium text-neutral-700 ring-zinc-500 focus-visible:ring transition duration-300 outline-none";
const borderClasses = "border border-transparent";
const bgColorClasses = "bg-yellow-400 dark:focus:outline-none";
const hoverClasses = "hover:shadow-2xl hover:shadow-yellow-500";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
// Define TypeScript interface for the properties
interface Props {
  id: string;
  aria: string;
  src?: any;
  alt: string;
  first?: boolean;
  second?: boolean;
  link?: string;
  svg?: string;
}
// Set class based on 'first' property
// If 'first' is present, show the tab content immediately
const firstClass = first ? "" : "hidden";
// Set class based on 'second' property
// If 'second' is present, use an alternate style for the image
const secondClass = second
  ? "shadow-xl aspect-[5/4] bg-neutral-300 dark:bg-neutral-600 object-cover p-0 lg:aspect-auto shadow-neutral-200 rounded-xl dark:shadow-neutral-900/[.2]"
  : "bg-neutral-100 dark:bg-white/[.075] p-12 shadow-xl aspect-[3/2] object-cover lg:aspect-auto shadow-neutral-200 rounded-xl dark:shadow-neutral-900/[.2]";

/*
first: This property should be set to true for the initial TabContent component
in your list to ensure that it's visible when the page first loads.
All subsequent TabContent components should omit this property or set it to false.

second: This property allows to control changes in the look of the Image.
If it is set to true, the Image will have different aspect ratio and background color.
If this property is not provided or is set to false, the Image will use default styling.
You can enable this for any TabContent component you want to apply these changes to.

This is the full example:
<TabContent id="" aria="" src="" alt="" first={true}/>
<TabContent id="" aria="" src="" alt="" second={true}/>
<TabContent id="" aria="" src="" alt="" />
*/
---

<!-- Container for tab content that controls visibility and accessibility -->
<div id={id} role="tabpanel" class={firstClass} aria-labelledby={aria}>
  <!-- Astro Image component to display the image with dynamic classes based on the 'second' property -->
  <Image
    src={src}
    alt={alt}
    class={secondClass}
    draggable={"false"}
    format={"avif"}
    loading={"eager"}
  />
  <div class="w-100 -mt-6 text-center">
    <a
      class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${hoverClasses}`}
      href={link}
      rel="noopener noreferrer"
    >
      <span class="-mt-2"><Icon name={svg} /></span>
      {alt}
    </a>
  </div>
</div>
