---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.png";
import faqs from "@data/faqs.json";
import features from "@data/es/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.png";
import lowcode from "@images/lowcode.png";
import mvp from "@images/mvp.png";
import automation from "@images/automation-feat.png";
import apps from "@images/app-feat.png";
import acceleration from "@images/acceleration-feat.png";

const avatarSrcs: Array<string> = [];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`Acelera tu crecimiento con <span
        class="text-yellow-500 dark:text-yellow-400">Soluciones Digitales Inteligentes</span>`
    subTitle=`Integramos y optimizamos herramientas digitales para que puedas enfocarte en lo que realmente importa: <strong>tu negocio.</strong>`
    primaryBtn="Nuestros Servicios"
    primaryBtnURL="/es/services"
    secondaryBtn="Contáctanos"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`<span class="font-bold">200+</span> Soluciones Implementadas`
    src={heroImage}
    alt="Cloud environment with digital devices"
  />

  <ClientsSection
    title="Confían en nosotros"
    subTitle="Grandes empresas y pequeños emprendimientos han confiado en nuestra expertise."
  />

  <FeaturesGeneral
    title="Tecnología corporativa a tu alcance"
    subTitle="Construimos soluciones digitales integrando metodologías ágiles y tecnología de punta."
    src={mvp}
    alt="Fuix Low Code"
    features={features}
  />

  <FeaturesNavs
    title=`Podemos guiarte a través del proceso de creación de una <span class="text-yellow-500 dark:text-yellow-400">solución digital</span> que cumpla con las expectativas de tu negocio.`
    tabs={[
      {
        heading: "Aceleración Digital Empresarial",
        content:
          "Optimiza la experiencia de tus clientes con automatización y tecnología de vanguardia.",
        svg: "sparks",
        src: acceleration,
        alt: "Aceleración Digital Empresarial",
        first: true,
        link: "/es/services/aceleracion-digital-empresarial",
      },
      {
        heading: "Automatización y Mejora del Ciclo de Desarrollo",
        content:
          "Optimiza tu flujo de trabajo con DevOps y mejores prácticas de desarrollo.",
        svg: "hammer",
        src: automation,
        alt: "Automatización y Mejora del Ciclo de Desarrollo",
        link: "/es/services/automatizacion-mejoras-desarrollo",
      },
      
      {
        heading: "Desarrollo de Aplicaciones",
        content:
          "Transformamos ideas en aplicaciones funcionales y escalables.",
        svg: "device",
        src: apps,
        alt: "Desarrollo de Aplicaciones",
        link: "/es/services/desarrollo-aplicaciones",
      },
    ]}
  />

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <PricingSection pricing={pricing} /> -->

  <!-- <FAQ title="Preguntas frecuentes" faqs={faqs} /> -->

  <HeroSectionAlt
    title="Construyamos juntos"
    subTitle="Hablemos sobre cómo podemos ayudarte a alcanzar tus objetivos."
    url="/contact"
  />
</MainLayout>
